<div class="hamburger-parent">
    <div class="welcome-note">
        <img src="../../assets/irctc_logo.png" width="auto" height="100" style="margin-bottom: 18px; margin-top: 8px;" class="d-inline-block align-top" alt="irctc-logo">
        <p style="font-size: 1.4em; font-weight: 100;"> Welcome to R~RS </p>
    </div>
    <div class="navigation">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link"><i class="material-icons">description</i> Reservations</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/booking" routerLinkActive="active"> New Booking</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="material-icons">directions_railway</i> Booking Details</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/pnrstatus" routerLirsnkActive="active"> PNR Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/pnrhistory" routerLinkActive="active"> Booking History</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="material-icons">terrain</i> Explore</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/exploreindia" routerLinkActive="active"> Hala Madrid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/exploremaharajas" routerLinkActive="active"> Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user/seasonal" routerLinkActive="active"> Seasonal Offers</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/notifications" routerLinkActive="active"><i class="material-icons">notifications</i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/myaccount" routerLinkActive="active"><i class="material-icons">account_circle</i> Manage Account</a>
            </li>
        </ul>
    </div>





</div>