nav {
    background-color: #0D47A1;
    height: 12vh;
}

a {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    color: white;
}

a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

.material-icons {
    font-size: 1.1rem;
}

.nav-item:hover {
    color: #0D47A1;
    background-color: #90CAF9;
}

.nav-item {
    color: #90CAF9;
    font-weight: 400;
}

.nav-item a {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

.dropdown-item:hover {
    background-color: #BBDEFB;
}

.row {
    padding: 0;
    margin: 0;
}

.nav-panel {
    padding: 0;
    position: fixed;
    background-color: #0b0c0f;
    height: 100vh;
}

.route-content {
    padding: 0;
    position: absolute;
    background-color: #d3d9df;
    left: 25%;
    ;
    width: 200vh;
    height: 100vh;
}

.dashboard-content {
    padding-top: 65px;
    background-color: #45d1db;
    height: 108vh;
}

.img-circle {
    border: 2px solid #03A9F4;
    border-radius: 50%;
    margin-right: 5px;
}


/* NAV PANEL */

.material-icons {
    font-size: 1rem;
}

.hamburger-parent {
    padding: 0;
}

.welcome-note {
    padding-top: 20px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 1.3rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    color: #176dcf;
    padding-bottom: 10px;
    border-bottom: 1px solid #151b1e;
    line-height: 150%;
}

.navigation {
    position: relative;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: #1976D2;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .2em;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 20px;
    border-left: 3px solid #283593;
    line-height: auto;
}

.navigation a:hover {
    background-color: #151b1e;
    border-left: 3px solid #1566b7;
}

.navigation ul ul {
    position: absolute;
    visibility: hidden;
}

.navigation ul li.tap ul {
    display: block;
}

.navigation ul ul a:before {
    margin-right: 20px;
}

.navigation ul li:hover>ul {
    position: relative;
    visibility: visible;
}