<div class="flex-container">

    <div class="flex-item">
        <!-- <img src="../../assets/irctc_logo.png" width="150" height="180" class="d-inline-block align-top" alt="bluebox-logo"> -->
        <!-- <br><br> -->
        <h1 class="display-3">Welcome To R~Reservation System</h1>
        <h1>E-Ticketing System.</h1>
        <!-- <hr class="my-4"> -->
        <!-- <p>If you don't find a way to make money while you sleep, you will work untill you die ~ Warren Buffett</p> -->

        <!-- <p>By Failing To Prepare You are Prepairing to Fail ~ Benjamin Franklin".</p> -->-->

    </div>
    <div class="img">
        <br>
        <div class="social-icons">
            <!-- <img src="../../assets/images/social-icon1.png" onclick="openInstagram();" /> -->
            <a (click)="openInstagram();"> <img src="../../assets/images/social-icon1.png" /></a>
            <img src="../../assets/images/social-icon2.png" alt="">
            <img src="../../assets/images/social-icon3.png" alt="">
            <img src="../../assets/images/social-icon4.png" alt="">
            <img src="../../assets/images/social-icon5.png" alt="">
        </div>
        <img class="email-icon" src="../../assets/images/email-icon.png" alt="">

    </div>
    <p class="lead">
        <b>Customer service:</b> 011 3934 0000
    </p>

</div>