<nav class="navbar fixed-top justify-content-between">
    <a class="navbar-brand" href="#">
        <!-- <img src="../../assets/irctc_logo.png" width="auto" height="30" class="d-inline-block align-top" alt="bluebox-logo"> -->
        <font color="#FF0000"><strong> R~Reservation System </strong></font> | e-Ticketing System.
    </a>

    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Sign In</a>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Registration</h1>
        <br>
    </div>
</div>

<app-signup-form></app-signup-form>