h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    color: #101115;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    /* font-weight: 300; */
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    color: #0a0c0f;
}

.btn-primary:hover {
    background-color: #101115;
}

.flex-container {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 50vh;
}

.flex-item {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    text-align: center;
}

.display-3 {
    padding-top: 0px;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: #1e06f5;
}

.my-4 {
    background-color: #BBDEFB;
}

.flex-background {
    background: #101115;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #101115, #101823);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #101115, #101823);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #101115, #101823);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #101115, #101823);
    /* background-image: url("../../assets/feature-cover_-train-k1.jpg"); */
    /* Standard syntax */
    height: 100vh;
    background-position: center;
    /* height: 500px; */
    background-size: cover;
    padding: 100px 50px 50px 50px;
}