<nav class="navbar fixed-top justify-content-between">
    <a class="navbar-brand" href="#">
        <!-- <img src="../../assets/irctc_logo.png" width="auto" height="30" class="d-inline-block align-top" alt="bluebox-logo"> -->
        <p>
            <font color=#FF0000><strong>R~Reservation System</strong></font> | e-Ticketing System.</p>

    </a>

    <a class="nav-item nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
</nav>

<div class="row">
    <div class="col-3 sign-form">
        <app-login></app-login>
    </div>
    <div class="col-9 home">
        <app-welcome></app-welcome>
    </div>
</div>